body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background: #302e2e;
}

.container {
    position: relative;
    margin: auto;
    width: 50%;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #302e2e;
}

.menu {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #00ff00;
    width: 100%;
    padding: 20px 0;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.content {
    position: relative;
    padding: 20px;
    text-align: left;
    margin: 60px auto;
    color: #fff;
    max-width: 100%;
    box-sizing: border-box;
}

.content p {
    font-size: 16px;
    line-height: 2.0;
}

.content a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
}

.img-circle {
    width: 100%;
    max-width: 150px;
    display: block;
    margin: 20px auto;
    border: 2px solid #27f6a4;
    border-radius: 50%;
}

li.active {
    background-color: #3d3737;
}

h2 {
    color: #afa7a7;
}

a:hover {
    color: #00ff00;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #302e2e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Media Query for screens smaller than 600px (typical phones) */
@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
}
